* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: -1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-overflow-style: none;
}
html ::-webkit-scrollbar, body ::-webkit-scrollbar {
  width: 0;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: poiner;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

section {
  -ms-overflow-style: none;
}
section ::-webkit-scrollbar {
  width: 0;
}

body {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  overflow: auto;
  width: 200%;
  position: relative;
  z-index: 0;
  cursor: default;
}

.but {
  z-index: 19;
  position: fixed;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.ho {
  left: 0;
  background: rgba(0, 0, 0, 0.1) url("./../../img/header/left-arrow-1_icon-icons.com_62880.png") 0 0/100% no-repeat;
}

.co {
  right: 0;
  background: rgba(0, 0, 0, 0.1) url("./../../img/header/right-arrow-1_icon-icons.com_62892.png") 0 0/100% no-repeat;
}

.menu {
  position: relative;
  width: 80%;
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.menu > div {
  flex: 1 1 auto;
  height: 32px;
  text-align: center;
  position: relative;
  margin: 10px;
  border: 1px solid #000;
  border-radius: 20px;
  background: #999;
}
.menu > div > .itemMenu {
  height: 100%;
  border-radius: 20px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu .listItemMenu {
  position: absolute;
  width: 100%;
  margin: 10px 0 0 0;
}
.menu .listItemMenu li {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
  margin: 5px 0 5px 0;
  background: #999;
}

section {
  position: relative;
  flex: 1 1 100%;
  overflow: auto;
  z-index: 0;
}

.about_home {
  position: relative;
  max-width: 1200px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  border: 1px solid #999;
  margin: -40% auto 0 auto;
  padding: 15px;
  background: #fafafa;
  z-index: 1;
}

.tittle_home {
  min-height: 200px;
}
.tittle_home h1 {
  text-align: center;
  font-size: 30px;
}
.tittle_home h2 {
  text-align: center;
  font-size: 30px;
}
.tittle_home p {
  text-align: justify;
  padding: 10px;
}

.author {
  width: 100px;
  height: 100px;
  margin: 15px;
  float: right;
}

.items_video_home {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  overflow: auto;
}
.items_video_home .item_video_home {
  min-width: 96%;
  height: 200px;
  width: 200px;
  margin: 10px;
}

.items_coment_home {
  overflow: auto;
  margin: 0 auto;
}

.item_coment_home {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #999;
  border-top: 1px solid #999;
  border-radius: 20px 20px 20px 20px;
  margin: 5px 0 5px 0;
}
.item_coment_home img {
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 50%;
}
.item_coment_home > div {
  width: 100%;
  margin: 0 10px 0 10px;
}
.item_coment_home > div > div > time {
  margin: 0 0 0 10px;
}
.item_coment_home > div > p {
  margin: 10px 0 10px 0;
  max-height: 60px;
  overflow: hidden;
}

.tex {
  word-break: break-all;
}

.full_com_home {
  text-align: center;
  background: #e6e6e6;
}

.input_coment_home {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}
.input_coment_home input {
  border-radius: 20px 20px 0 0;
  border-top: 1px solid #999;
  padding: 1px 10px;
}
.input_coment_home textarea {
  max-width: 100%;
  min-width: 100%;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  padding: 1px 10px;
}
.input_coment_home button {
  border-radius: 0 0 20px 20px;
  border-bottom: 1px solid #999;
  padding: 1px 10px;
}

.tittle_home_contact {
  text-align: center;
}

.desc_cont_home {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
}

.my_cont {
  flex: 1 1 50%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
}

.my_company {
  flex: 1 1 50%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.my_company > div > div {
  margin: 5px 0 5px 0;
}

.my_logo {
  width: 30%;
  text-align: center;
}
.my_logo img {
  border-radius: 25%;
  width: 100%;
  max-width: 75px;
}

.netwo {
  align-self: center;
}
.netwo div img {
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
}

.footer_home {
  border-top: 1px solid #999;
  text-align: center;
}

.container_menu {
  left: 0;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 11;
}

.container_catalog {
  width: 100%;
  max-width: 1300px;
  height: 100%;
  padding: 5% 0 0 0;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}

.items_knife {
  flex: 1 1 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item_knife {
  position: relative;
  width: 40%;
  height: 200px;
  border: 1px solid #000;
  margin: 5%;
}

.ite_back {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 0;
}
.ite_back img {
  height: 100%;
  width: 100%;
}

.desc_knife {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(200, 200, 200, 0);
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  text-align: right;
}
.desc_knife .name_knife {
  padding: 0 10px 0 0;
  text-align: center;
  font-size: 50px;
}
.desc_knife .price_knife {
  font-size: 30px;
  background: rgba(250, 0, 0, 0.5);
  padding: 0 10px 0 0;
}
.desc_knife .stock_knife {
  padding: 0 10px 0 0;
}

.desc_kni_gray {
  background: rgba(200, 200, 200, 0.5);
}

.item_knife_only {
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
  background: #999;
}

.but_ex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end;
}
.but_ex > .img_ex {
  width: fit-content;
  width: 50px;
  height: 50px;
  margin: 20px;
  background: url("./../../img/header/cross_114275.png") 50% 50%/90% no-repeat;
}

.cont_only {
  max-width: 1300px;
  height: 100%;
  overflow: auto;
  margin: -20px auto 200px auto;
  background: #fafafa;
  border-radius: 20px;
  padding: 20px;
  line-height: 20px;
  -webkit-box-shadow: 3px 2px 40px 24px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 3px 2px 40px 24px rgba(0, 0, 0, 0.13);
  box-shadow: 3px 2px 40px 24px rgba(0, 0, 0, 0.13);
}

.only_desc {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}

.header_desc {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}

.img {
  flex: 1 1 50%;
  justify-content: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
}
.img > .imges {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}

.desc_list_config {
  margin: 20px 0 20px 0;
  flex: 1 1 50%;
}
.desc_list_config > h2 {
  text-align: center;
  margin: 0 0 20px 10%;
  font-size: 30px;
}
.desc_list_config > ul {
  text-align: center;
}
.desc_list_config > ul > li > div:first-child {
  display: inline-block;
  text-align: right;
  width: 40%;
  margin: 5px 0 0 0;
  font-size: 150%;
}
.desc_list_config > ul > li > div:last-child {
  display: inline-block;
  text-align: center;
  width: 20%;
  font-size: 20px;
  margin: 0 15% 0 0;
}

.only_img0 {
  width: 230px;
  height: 230px;
  margin: 5px;
  border: 1px solid #000;
}

.only_img {
  border: 1px solid #000;
  width: 50px;
  height: 50px;
  margin: 5px;
}

.only_desc {
  text-align: justify;
}

.but_add {
  border: 1px solid #999;
  text-align: center;
  background: #999;
}

.only_items_video {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.only_item_video {
  min-width: 200px;
  height: 100px;
  margin: 5px;
  border: 1px solid red;
}

.only_recall {
  padding: 20px;
}

.only_item_recall {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  margin: 0 0 20px 0;
}

.recall_img {
  flex: 1 1 10%;
}
.recall_img > img {
  width: 100%;
  border-radius: 50%;
  border: 1px solid black;
}

.recall_desc {
  flex: 1 1 90%;
  margin: 0 0 0 10px;
}

.recall_text {
  height: 80px;
  overflow: hidden;
}

.but_all {
  background: #c8c8c8;
  text-align: center;
  border-radius: 20px;
}

.only_recall_field {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  border-radius: 25px;
  border: 1px solid #999;
  padding: 10px;
  flex-direction: column;
}
.only_recall_field > textarea {
  height: 40px;
  border-radius: 25px;
  border-top: 1px solid #999;
  padding: 10px;
}

.placeCard_container {
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #999;
  border: 1px solid #000;
  z-index: 12;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}
.placeCard_container .but_card {
  position: absolute;
  right: 10px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: url(./../../img/header/cross_114275.png) 0 0/100% no-repeat;
}

.items_product_at_card {
  flex: 1 1 auto;
  padding: 0 10px;
}

.item_chose_product {
  border: 1px solid #060;
  border-radius: 20px;
  max-width: 1000px;
  margin: 20px auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
}
.item_chose_product .balans-item > div {
  display: inline-block;
}

.img_chose {
  flex: 0 1 40%;
}
.img_chose > img {
  border-radius: 20px;
}

.desc_chose {
  flex: 0 1 30%;
  font-size: 15px;
  text-align: center;
}
.desc_chose > h3 {
  font-size: 20px;
  margin: 10px 0 20px 0;
}

.price_chose {
  flex: 0 1 30%;
  text-align: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}
.price_chose > div:first-child {
  flex: 1 1 80%;
  font-size: 30px;
}
.price_chose > div:first-child > div:first-child {
  margin: 10px 0 0 0;
}
.price_chose > div:first-child .fild_number_card {
  margin: 10px 0 0 0;
}
.price_chose > div:first-child .fild_number_card > div {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.price_chose > div:first-child .fild_number_card > div > img {
  margin: 7px 0 0 0;
}
.price_chose > div:last-child {
  flex: 1 1 20%;
}

.buy_place {
  flex: 0 0 80px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}

.all-balans > div {
  font-size: 20px;
  width: fit-content;
  margin: 0 0 0 70%;
}
.all-balans > div > div {
  display: inline-block;
}

.buy_card {
  flex: 1 1 auto;
  border: 1px solid #000;
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  background: rgba(10, 100, 10, 0.4);
}
.buy_card > div {
  margin: 0 auto;
}

.over_hiden {
  overflow: hidden;
}

.over_view {
  overflow: auto;
}

.disen {
  z-index: 99;
  display: none;
}

.acti {
  z-index: 99;
  display: block;
}

@media (min-width: 768px) {
  .item_knife {
    width: 23%;
    margin: 1%;
  }

  .item_chose_product {
    border-radius: 20px;
    max-width: 1000px;
    height: 200px;
  }

  .img_chose > img {
    height: 100%;
    width: 60%;
  }

  .price_chose {
    font-size: 25px;
  }
  .price_chose > div:first-child .fild_number_card > div {
    display: inline-block;
    width: 20px;
    height: 20px;
  }
  .price_chose > div:first-child .fild_number_card > div > img {
    margin: 7px 0 0 0;
  }

  .header_desc {
    flex-direction: row;
  }
}
/*

	.about_home{
		margin: -100px auto 0 auto;
	}

	.items_video_home{
		margin: 0 30px;

		.item_video_home{
			min-height: 300px;		
		}
	}

	.item_coment_home {
	margin: 10px 20px 10px 20px;

	.com_home {
		&>img{
			float: left;
				width:50px ;
				height:50px;
				margin: 5px;
			}
		&>p{
			height: 80px;

			}
		}
	}



	.desc_cont_home {
		justify-content: space-around;
	}

	.my_logo {
		img{
			width: 50px;
			height: 50px;
			margin: 0 0 0 -80px;
		}

	}
	.netwo {
		margin: 0 0 0 10px;
		div{
			img{
				margin: 0 5px 0 0;
				width: 20px;
				height: 20px;

			}
		}
	}
	.my_company {
		margin: 0 -50px 0 100px;
		letter-spacing: 2px;
		line-height: 20px;
	}
}

@media (min-width: 1024px) {
		.item_knife{
	width: 17%;


	margin: 1.5%;
}

	.about_home{
		margin:-200px auto 0 auto;		
		.tittle_home{
			.author{			
				width: 200px;
				height: 200px;
				margin: 15px;

			}
			&>p{
				padding: 20px;
				line-height: 20px;
			}
		}

		.items_video_home{
			.item_video_home{
				height: 500px;
				margin: 20px;
			}
		}
	}

	.item_coment_home {
		margin: 40px;
		.com_home {
			&>img{
					width:40px ;
					height:40px;
					margin: 10px;
				}
			&>p{
				height: 80px;
				padding: 0 10px 0 0; 
				text-align: justify;

			}
			.full_com_home{
				text-align: center;
				background: rgba(230,230,230,1);
				height: 16px;

			}
		}
	}
	.rule_page_com_home {
		position: relative;
		justify-content: space-between;
		div{
			margin: 0 10px;
			color: rgba(0,0,0,0);
			border-radius: 10px;
		}
		div:first-child{
			background: rgba(250,250,250,1);
			width: 80px;
			height: 80px;
		}
		div:last-child{
			background: rgba(250,250,250,1);
			width: 40px;
			height: 40px;
		}
		div:first-child::before{
			content: '';
			border: 1px solid black;
			width: 50px;
			position: absolute;
			transform: rotate(-40deg);
		}
		div:first-child::after{
			content: '';
			border: 1px solid black;
			width: 50px;
			position: absolute;
			margin: 32px 0 0 -18px ;
			transform: rotate(40deg);
		}
		div:last-child::before{
			content: '';
			border: 1px solid black;
			width: 50px;
			position: absolute;
			margin: 0 0 0 -24px;
			transform: rotate(40deg);
		}
		div:last-child::after{
			content: '';
			border: 1px solid black;
			width: 50px;
			position: absolute;
			margin: 32px 0 0 -48px ;
			transform: rotate(-40deg);
		}
	}




	.input_coment_home {

		margin: 0 40px 30px 40px;
		div{
			text-align: center;

		}

		div:nth-child(1){
			input{
				padding: 5px 0 5px 15px ;
			}

		}
		div:nth-child(2){
			height: 100px;
			textarea{
				padding: 5px 0 5px 15px ;
				min-height: 100px;
			}
		}
		div:last-child{
			button{
				margin: 10px 0 0 0;
				width: 95%;
				height: 30px;
			}

		}
	}





	.my_logo {
		margin: 10px 10px 10px 100px;
		img{
			border-radius: 25%;
			width: 50px;
			height: 50px;
		}

	}
	.netwo {
		margin: 5px 10px 20px 20px;
		div{
			margin: 5px 5px 0 5px;
			img{				
				width: 20px;
				height: 20px;
			}
		}
	}
	.my_company {

		margin: 10px 200px 0 0;
		line-height: 20px;
		letter-spacing: 1px;
	}

}



*/